force-app/main/default/flows/lead_scoring_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>point</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>point</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>point</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_lead_trigger_record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>formEmail</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Email}), 0, 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formFirstName</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.FirstName}), 0, 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formPhone</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Phone}), 0, 1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>lead scoring flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>lead scoring flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_lead_trigger_record</name>
        <label>update lead trigger record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>LeadNum__c</field>
            <value>
                <elementReference>point</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>point</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
